{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3"> <!-- V signifie margin-top à 3 -->
            <h1 class="display-3">Bienvenue sur Room to rent !</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut nostrum quos veritatis. Accusamus aliquam at culpa doloremque esse et,
                fugiat itaque laudantium maiores minima recusandae repellat voluptatibus, voluptatum. Maiores, veritatis!
            </p>
            <hr class="my-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, deleniti doloremque enim ex ipsa maiores minus nesciunt!
                Asperiores cupiditate nostrum numquam quas quia, quos rerum sapiente, sunt vel velit voluptatum.
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir les annonces</a>
            </p>
        </div>

        <h2 class="h1 mt-3 mb-4">Nos appartements stars</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        5 chambres, <strong>49&euros / nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block ">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement incroyable !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Cumque, expedita magnam. Accusamus alias amet delectus deserunt quo ratione repellendus voluptate!
                        </p>
                        <a href="#" class="btn btn-secondary">Découvrir</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        5 chambres, <strong>49&euros / nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block ">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement incroyable !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Cumque, expedita magnam. Accusamus alias amet delectus deserunt quo ratione repellendus voluptate!
                        </p>
                        <a href="#" class="btn btn-secondary">Découvrir</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        5 chambres, <strong>49&euros / nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block ">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement incroyable !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Cumque, expedita magnam. Accusamus alias amet delectus deserunt quo ratione repellendus voluptate!
                        </p>
                        <a href="#" class="btn btn-secondary">Découvrir</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="h1 mt-3 mb-4">Nos propriétaires stars</h2> <!-- en haut du 3, en bas du 4 -->
        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Sophie Daprès</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="" class="float-left mr-3" alt="Avatar de Sophie Daprès">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, quam.
                            </p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Sophie Daprès</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="" class="float-left mr-3" alt="Avatar de Sophie Daprès">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, quam.
                            </p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
